{
  "semi": true,
  "singleQuote": false,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "trailingComma": "none",
  "jsxSingleQuote": false,
  "tabWidth": 2,
  "printWidth": 80,
  "endOfLine": "auto"
}
